:root {
--xiketic: hsla(264, 27%, 11%, 1);
--dark-purple: hsla(269, 30%, 16%, 1);
--dark-purple-2: hsla(270, 33%, 22%, 1);
--dark-byzantium: hsla(304, 21%, 28%, 1);
--twilight-lavender: hsla(332, 22%, 38%, 1);
--rose-dust: hsla(345, 28%, 46%, 1);
--popstar: hsla(352, 38%, 54%, 1);
--pastel-pink: hsla(359, 39%, 70%, 1);
--pastel-pink-2: hsla(6, 43%, 77%, 1);
--unbleached-silk: hsla(17, 49%, 84%, 1);
}

/* * {
    border: 1px solid black;
} */

#grid-container {
    border: 3px solid black;
}

#navbar {
    border-bottom: 1px solid black;
}